
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body, input, select, textarea
	{
		font-size: 12pt;
		line-height: 1.5em;
		letter-spacing: 0.015em;
	}

	body
	{
		min-width: 960px;
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		padding: 4em 0 7em 0;
	}

	#header-wrapper
	{
		height: 400px !important;
	}

	#intro-wrapper
	{
		padding-bottom: 7em;
	}
	
	#footer-wrapper
	{
	}

		#footer-wrapper hr
		{
			margin: 3em 0 3em 0;
		}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		height: 400px !important;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		margin-top: -0.5em !important;
	}
	
		#logo h1
		{
			font-size: 4em;
		}

/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro
	{
	}

		#intro .style1
		{
			font-size: 1.25em;
		}
	
		#intro .style2
		{
			font-size: 2.25em;
		}
		#intro .style3
		{
            padding-top: 2em;
            padding-left: 8em;
		}

        #intro img
        {
            float: left;
            margin-left:3em
        }
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin: 3em 0 0 0;
	}
/*********************************************************************************/
/* Avatar                                                                   */
/*********************************************************************************/
.avatar-list
	{
	}

		.avatar-list section
		{
			padding-top: 2em;
			border-top: solid 1px #eee;
		}

		.avatar-list .row
		{
            vertical-align: middle;
		}
	
			.avatar-list .row:first-child
			{
			}
			
				.avatar-list .row:first-child section
				{
					padding-top: 0;
					border-top: 0;
				}

		.avatar-list h3
		{
			margin: 0 0 0.75em 4em;
			font-size: 1.15em;
			letter-spacing: 0.05em;
			margin-top: -0.35em;
		}
	
		.avatar-list p
		{
			margin: 0 0 0 5em;
            text-align: justify;
		}
		
		.avatar-list-small
		{
		}
		
			.avatar-list-small h3
			{
			}
		
				.avatar-list-small h3:before
				{
					font-size: 24px;
					line-height: 45px;
					width: 45px;
					height: 45px;
					margin-right: 1em;
				}
				
			.avatar-list-small p
			{
				margin: 0 0 0 4em;
			}